@using WebClientWithAuthent.Models
@model IEnumerable<Package>
<div class="row">
    <div class="col-md-12">
        <h1>Second</h1>
        <div class="input-group"><span class="input-group-text">Addon</span><input class="form-control" type="text"><button class="btn btn-primary" type="button">Button</button></div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Column 1</th>
                        <th>Column 2</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Id</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr>
<nav>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
    </ul>
</nav>